body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { 
  margin: 0;
  padding: 0; 
}

html{
  font-size: 12px;
  color: black;
  width: 100%;
  height: 100%;
  overflow: auto;
  min-width: 1280px;
  @media screen and (min-width:1280px) and (max-width:1369px){font-size:12px;}
  @media screen and (min-width:1369px) and (max-width:1440px){font-size:14px;}
  @media screen and (min-width:1441px) and (max-width:1600px){font-size:14px;}
  @media screen and (min-width:1601px) and (max-width:1800px){font-size:16px;}
  @media screen and (min-width:1801px) and (max-width:1920px){font-size:16px;}
  @media screen and (min-width:1921px){font-size: 20px;}
}

body {
  width: 100%;
  height: 100%;
  // overflow: hidden;
  font-family: "楷体";
  color: black;
}

div, span, a, p, li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,ol{
  list-style-type:none;
}

span {
  display: inline-block;
}

button {
  font-family: "楷体";
}

// 输入框
.el-input--small, .el-input--small .el-input__inner {
  // height: 100% !important;
}

.el-input--small {
  .el-input__inner:focus {
    border-color: red;
  }
  .el-input__suffix {
    .el-input__suffix-inner {
      height: 100%;
    }
  }
}

// 按钮
.el-button {
  border-color: #c72128 !important;
  background-color: #c72128 !important;
  span {
    color: #ffffff;
  }
}
.el-button:hover {
  border-color: #c72128 !important;
  background-color: #c72128 !important;
}

// topBtn
.topBtn {
  margin-bottom: 10px;
  .el-button+.el-button {
    margin-left: 3px;
  }
  .el-input {
    width: 200px;
    margin: 0 3px;
  }
}